.App {
  text-align: left;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MY CSS HERE  */

.header {
  display: flex;
  justify-content: space-between;
  line-height: 42px;
  font-size: 20px;  
  padding: 0 1em;
}

.sider {
  background-color: white !important;
  height: 100% !important;
}

.title {
  padding-left: 1em;
}

.title::before {
  content: "|";
  color: #e0e0e0;
  font-weight: 400;
}

.title .name {
  margin-left: 1em;
  color: black;
  font-weight: 550;
}

.mg-left {
  margin-left: 1em;
}

.header-icons span:hover{
  cursor: pointer;
  color: #525b6d;
}

#header-hr {
 border-top: 1px solid #e0e0e0;
 margin: unset;
}

/* Dashboard Section A */
#dbsa {
  background-image: url('./static/imgs/dbsa.jpg');
  background-repeat: no-repeat;
  height: 250px;
  opacity: 0.8;
  text-align: left;
}

.title-box {
  font-size: 28px;
  width: fit-content;
  color: white;
  font-weight: 550;
  background-color: rgb(18, 122, 9);
  padding: 1em 2em;
  opacity: 0.5;
}

/* Dashboard Section B */
#dbsb {
  text-align: left;
  margin: 1em 0;
  padding: 0 10px;
}

#dbsb-title {
  font-size: 20px;

}

#dbsb-card {
  display: flex;
  flex-direction: column;
}

.ant-card-head-title {
  font-weight: 550;
}

.count {
  font-size: 24px;
  font-weight: 550;
}

/* Dashboard Section C  */
#dbsc {
  text-align: left;
  margin: 1em 0;
  padding: 0 10px;
}

/* Dashboard Section D  */
#dbsd {
  text-align: left;
  margin: 1em 0;
  padding: 0 10px;
}

#dbsd .ant-card-body {
  padding: 10px;
}

.second-row {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}

/* Page Header  */
#page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

}

#page-header .name {
  font-size: 24px;
  font-weight: 600;

}

#page-header .buttons {
  
}

.clear {
  background-color: black;
  color: white;
  margin-right: 10px;
}

.trace {
  background-color: white;
  color: black;
  
}

.container {
  background-color: white;
  width: 100%;
  height: 100%;
}

.padding {
  padding: 5px;
}

.hr {
  padding: 0 10px;
  margin: 10px;
}

.suggestion {
  font-weight: 600;
  margin: 0 0 0 10px;
}

/* ID Search */
.search-wrapper {
  width: 100%;
  height: 500px;
  background-color: white;
  text-align: left;
  padding: 10px;
}

.search-type {
  font-size: 14px;
}


.total-found {
  margin: 1em 0;
}

.found-hr {
  margin: 2em 0 1em 0;
}

#found .id{
  font-weight: 600;
}

#found .name{
  font-weight: 600;
}

#found .owner{
  font-weight: 600;
  font-size: 12px;
}

.hint {
  margin: 1em 0;
  display: flex;

}

.more-hint {

}

.st-ed {
  display: flex;
  margin: 1em 0;
}

.sm-section {
  height: 280px;
}

/* Detail search  */
.buttons {
  display: flex;

}

.buttons .clear {
  margin: 0 0 0 1em;
}

.search-title {
  font-size: 18px;
  font-weight: 600;
}

.pallet-table-title {
  margin: 1em 0 0 0;
  font-weight: 600;
}

/* Trace  */
.small-nav {
  padding: 0 10px;
}

.small-nav span {
  margin: 0 15px 0 0;
}

.small-nav span:hover {
  cursor: pointer;
  border-bottom: 2px solid #61dafb;
  
}

.product-title{
  background-color: #f0f2f5;
  padding: 10px;
  margin: 1em 10px 2em 10px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.place {
  background-color: #f0f2f5;
  padding: 5px;
  margin: 10px;
  font-size: 14px;
}

.product {
  position: relative;
  background-color: #f0f2f5;
  padding: 10px;
  margin: 1em 10px;
  display: flex;
  flex-direction: column;
}

.product:hover {
  cursor: pointer;
  background-color: #bec3cd;
}

.highlight {
  border-left: 3px solid rgb(79, 192, 240);
}

.bold {
  font-weight: 600;
}

.drop-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 10px;
  font-size: bold;
}

/* Document */
.document-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.doc-title {
  font-size: 20px;
  font-weight: 600;
}

.document-header .doc {
  font-size: 12px;
  color: purple;
}

.header-boxes {
  display: flex;
  margin: 1em 0 0 0;
}

.second-row-doc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 0;
}

.upload {
  display: flex;
  flex-direction: row-reverse;
  padding: 0em 1em;

}

.flex-row {
  display: flex;
}

.table-section {
  margin: 1em 0 0 0;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: #eeeff2;
}

.upload-header {
  padding: 1.5em 1em;
}

.upload-title {
  font-size: 24px;
  font-weight: 600;
}

.mgl-2 {
  margin: 0 0 0 2em;
}

.mgt-1 {
  margin: 1em 0 0 0;
}
.upload-section {
  background-color: #eeeff2;
  padding: 1em;
}

.img-uploaded {
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: white;
  width: fit-content;
}

.text-box-head {
  margin: 0 0 1em 0;
  font-size: 600;
  display: flex;
  justify-content: space-between;
}

.upload-btns {
  display: flex;
  flex-direction: row-reverse;
  padding: 1em;
}

.nav-header-detail {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.detail-section {
  margin: 1em 0;
  padding: 0 1em;
}

.header-detail {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  align-items: center;
}

.download-bar {
  display: flex;
  justify-content: space-between;
}

.img-section {
  height: 600px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}